<?xml version="1.0" encoding="utf-8" ?>
<!--
See doco on configuring autofac via XML here
http://autofac.readthedocs.org/en/v3.5.2/configuration/xml.html
-->
<autofac defaultAssembly="PiCandy.Server">
  <modules>
    <!-- listeners -->
    <module type="PiCandy.Server.OPC.OpcListenerModule, PiCandy.Server.OPC">
      <properties>
        <property name="Port" value="7890"/>
      </properties>
    </module>

     <!--channels-->
    
    <module type="PiCandy.Server.ConsoleRendererModule, PiCandy.ServerHost">
      <properties>
        <property name="Channel" value="0"/>
        <property name="Pixels" value="10"/>
        <property name="Map" value="zigZag3"/>
      </properties>
    </module>

    <module type="PiCandy.Renderer.RpiWs2812.RpiWs2812RendererModule, PiCandy.Renderer.RpiWs2812">
      <parameters>
        <parameter name="channel" value="0"/>
        <parameter name="pixels" value="60"/>
      </parameters>
      <properties>
        <property name="Map" value="zigZag3"/>
      </properties>
    </module>

  </modules>

  <components>
    <!--<component type="PiCandy.Renderer.RpiWs2812.RpiWs281xClient, PiCandy.Renderer.RpiWs2812"
               service="PiCandy.Server.IPixelRenderer"
               >
      <parameters>
        <parameter name="ledCount" value="60"/>
        <parameter name="pixelOrder" value="GRB"/>
        <parameter name="gpioPin" value="18"/>
      </parameters>
      <metadata>
        <item name="Channel" value="0" type="System.Int32, mscorlib"/>
        --><!--<item name="Map" value="zigZag8" type="System.String, mscorlib"/>--><!--
      </metadata>
    </component>-->

    <component
    name="zigZag3"
    type="PiCandy.Server.Filters.ZigZagPositionalMap"
    service="PiCandy.Server.Filters.IPositionalMap"
    >
      <parameters>
        <parameter name="cadence" value="3"/>
      </parameters>
    </component>
  </components>
</autofac>