<?xml version="1.0" encoding="utf-8" ?> 
<!--
See doco on configuring autofac via XML here
http://autofac.readthedocs.org/en/v3.5.2/configuration/xml.html

This should mostly be registering Modules, *not* individual Components
-->
<autofac defaultAssembly="OpenPixels.ServerHost">
  <modules>
    <!-- listeners -->
    <module type="OpenPixels.Server.OPC.OpcListenerModule, OpenPixels.Server.OPC">
      <properties>
        <property name="Port" value="7890"/>
      </properties>
    </module>

    <!-- channels -->
    <module type="OpenPixels.Server.ConsoleRendererModule">
      <properties>
        <property name="Channel" value="0"/>
        <property name="Width" value="60"/>
      </properties>
    </module>

    <module type="OpenPixels.Renderer.RpiWs2812.RpiWs2812RendererModule, OpenPixels.Renderer.RpiWs2812">
      <parameters>
        <parameter name="channel" value="1"/>
        <parameter name="pixelCount" value="60"/>
      </parameters>
      <properties>
      </properties>
    </module>
    
  </modules>
</autofac>