<?xml version="1.0" encoding="utf-8" ?>
<!--
See doco on configuring autofac via XML here
http://autofac.readthedocs.org/en/v3.5.2/configuration/xml.html
-->
<autofac defaultAssembly="OpenPixels.Server">
  <modules>
    <!-- listeners -->
    <module type="OpenPixels.Server.OPC.OpcListenerModule, OpenPixels.Server.OPC">
      <properties>
        <property name="Port" value="7890"/>
      </properties>
    </module>

    <!-- channels -->
    <module type="OpenPixels.Server.ConsoleRendererModule, OpenPixels.ServerHost">
      <properties>
        <property name="Channel" value="0"/>
        <property name="Pixels" value="10"/>
      </properties>
    </module>

    <!--<module type="OpenPixels.Renderer.RpiWs2812.RpiWs2812RendererModule, OpenPixels.Renderer.RpiWs2812">
      <parameters>
        <parameter name="channel" value="0"/>
        <parameter name="pixels" value="60"/>
      </parameters>
      <properties>
      </properties>
    </module>-->

  </modules>

  <components>
    <component type="OpenPixels.Renderer.RpiWs2812.RpiWs281xClient, OpenPixels.Renderer.RpiWs2812"
               service="OpenPixels.Server.IPixelRenderer"
               >
      <parameters>
        <parameter name="ledCount" value="60"/>
        <parameter name="pixelOrder" value="GRB"/>
        <parameter name="gpioPin" value="18"/>
      </parameters>
      <metadata>
        <item name="Channel" value="0" type="System.Int32, mscorlib"/>
        <!--<item name="Map" value="zigZag8" type="System.String, mscorlib"/>-->
      </metadata>
    </component>

    <component
      name="zigZag8"
      type="OpenPixels.Server.Filters.ZigZagPositionalMap"
      service="OpenPixels.Server.Filters.IPositionalMap"
    >
      <parameters>
        <parameter name="cadence" value="8"/>
      </parameters>
    </component>
  </components>
</autofac>