<?xml version="1.0" encoding="utf-8" ?> 
<!--
See doco on configuring autofac via XML here
http://autofac.readthedocs.org/en/v3.5.2/configuration/xml.html

This should mostly be registering Modules, *not* individual Components
-->
<autofac defaultAssembly="OpenPixels.Server">
  <components>
    <component
        type="OpenPixels.Server.Renderers.ConsoleRenderer, OpenPixels.Server"
        service="OpenPixels.Server.IPixelRenderer">
      <parameters>
        <parameter name="channel" value="0"/>
      </parameters>
    </component>
  </components>

  <modules>
    <module type="OpenPixels.Server.OPC.OpcListenerModule, OpenPixels.Server.OPC">
      <properties>
        <property name="Port" value="7890"/>
      </properties>
    </module>
  </modules>
</autofac>